## Cardiovascular Disease Data Science Project
### Part 4: Data Handling and Limitations

### Data Preprocessing:

#### CVD Death Dataset

In [66]:
import pandas as pd
# Load the Excel file to inspect sheet names
excel_path = "CVD-death.xlsx"
xls = pd.ExcelFile(excel_path)
sheet_names = xls.sheet_names
sheet_names

['Contents ',
 'Notes',
 'PHA_CVD_DEATH_SEX',
 'PHN_CVD_DEATH_SEX',
 'PHN_CVD_DEATH_AGE&SEX',
 'STATE_CVD_DEATH_SEX',
 'STATE_CVD_DEATH_AGE&SEX']

##### PHN_CVD_DEATH_AGE&SEX

In [67]:
# Load and preview the 'PHA_CVD_DEATH_SEX' sheet
df2 = xls.parse('PHN_CVD_DEATH_AGE&SEX', skiprows=9)
df2.head()

,Unnamed: 0,Unnamed: 1,Persons aged 0–54,Unnamed: 3,Unnamed: 4,Unnamed: 5,Persons aged 55–74,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Females aged 55–74,Unnamed: 31,Unnamed: 32,Unnamed: 33,Females aged 75+,Unnamed: 35,Unnamed: 36
0,Code,Name,Annualised deaths,"Deaths per 100,000",Annualised population,NaN,Annualised deaths,"Deaths per 100,000",Annualised population,NaN,...,"Deaths per 100,000",Annualised population,NaN,Annualised deaths,"Deaths per 100,000",Annualised population,NaN,Annualised deaths,"Deaths per 100,000",Annualised population
1,NaN,Australia,2026.67,11.41,17761316.33,NaN,7701,158.23,4865865.67,NaN,...,6.66,8823137.67,NaN,2364,95.41,2477755.67,NaN,19694.66,2186.51,900643.67
2,PHN101,Central and Eastern Sydney,86.56,7.19,1203539.33,NaN,344.08,127.38,270115,NaN,...,4.2,595109,NaN,91.96,66.56,138163.67,NaN,1083.17,1969.99,54983.67
3,PHN102,Northern Sydney,34.78,5.2,669055,NaN,156.07,88.64,176081.33,NaN,...,3.35,336569.67,NaN,41.18,45.07,91354.67,NaN,979.48,2523.13,38820
4,PHN103,Western Sydney,75.25,10.04,749635,NaN,249.93,158.56,157626,NaN,...,4.94,365882.33,NaN,78.18,97.4,80271.67,NaN,479.77,1981.62,24211

In [68]:
# Load with multi-level header (first 2 rows after skipping 9)
df2_multi = xls.parse('PHN_CVD_DEATH_AGE&SEX', skiprows=9, header=[0, 1])

# Flatten multi-level headers: Combine both header rows into a single line with clear labels
df2_multi.columns = [
    f"{str(col1).strip()} - {str(col2).strip()}" if str(col2).strip() != 'nan' else str(col1).strip()
    for col1, col2 in df2_multi.columns
]

# Remove rows where the 'Code' column is NaN (region code column will contain 'Code' string)
df2_multi = df2_multi[df2_multi[df2_multi.columns[0]] != 'Code']
df2_multi = df2_multi[df2_multi[df2_multi.columns[0]].notna()]

# Reset index for clarity
df2_multi.reset_index(drop=True, inplace=True)

for col in df2_multi.columns:
    print(repr(col))

'Unnamed: 0_level_0 - Code'
'Unnamed: 1_level_0 - Name'
'Persons aged 0–54 - Annualised deaths'
'Persons aged 0–54 - Deaths per 100,000'
'Persons aged 0–54 - Annualised population'
'Persons aged 0–54 - Annualised population.1'
'Persons aged 55–74 - Annualised deaths'
'Persons aged 55–74 - Deaths per 100,000'
'Persons aged 55–74 - Annualised population'
'Persons aged 55–74 - Annualised population.1'
'Persons aged 75+ - Annualised deaths'
'Persons aged 75+ - Deaths per 100,000'
'Persons aged 75+ - Annualised population'
'Persons aged 75+ - Annualised population.1'
'Males aged 0–54 - Annualised deaths'
'Males aged 0–54 - Deaths per 100,000'
'Males aged 0–54 - Annualised population'
'Males aged 0–54 - Annualised population.1'
'Males aged 55–74 - Annualised deaths'
'Males aged 55–74 - Deaths per 100,000'
'Males aged 55–74 - Annualised population'
'Males aged 55–74 - Annualised population.1'
'Males aged 75+ - Annualised deaths'
'Males aged 75+ - Deaths per 100,000'
'Males aged 75+ - Annualised population'
'Males aged 75+ - Annualised population.1'
'Females aged 0–54 - Annualised deaths'
'Females aged 0–54 - Deaths per 100,000'
'Females aged 0–54 - Annualised population'
'Females aged 0–54 - Annualised population.1'
'Females aged 55–74 - Annualised deaths'
'Females aged 55–74 - Deaths per 100,000'
'Females aged 55–74 - Annualised population'
'Females aged 55–74 - Annualised population.1'
'Females aged 75+ - Annualised deaths'
'Females aged 75+ - Deaths per 100,000'
'Females aged 75+ - Annualised population'

In [69]:
# Step 1: Detect the 'Code' and 'Name' columns
code_col = [col for col in df2_multi.columns if 'Code' in col][0]
name_col = [col for col in df2_multi.columns if 'Name' in col][0]

# Step 2: Define the selected columns
selected_columns = [code_col, name_col] + [
    'Persons aged 0–54 - Annualised deaths',
    'Persons aged 0–54 - Deaths per 100,000',
    'Persons aged 0–54 - Annualised population',
    'Persons aged 55–74 - Annualised deaths',
    'Persons aged 55–74 - Deaths per 100,000',
    'Persons aged 55–74 - Annualised population',
    'Persons aged 75+ - Annualised deaths',
    'Persons aged 75+ - Deaths per 100,000',
    'Persons aged 75+ - Annualised population',
    'Males aged 0–54 - Annualised deaths',
    'Males aged 0–54 - Deaths per 100,000',
    'Males aged 0–54 - Annualised population',
    'Males aged 55–74 - Annualised deaths',
    'Males aged 55–74 - Deaths per 100,000',
    'Males aged 55–74 - Annualised population',
    'Males aged 75+ - Annualised deaths',
    'Males aged 75+ - Deaths per 100,000',
    'Males aged 75+ - Annualised population',
    'Females aged 0–54 - Annualised deaths',
    'Females aged 0–54 - Deaths per 100,000',
    'Females aged 0–54 - Annualised population',
    'Females aged 55–74 - Annualised deaths',
    'Females aged 55–74 - Deaths per 100,000',
    'Females aged 55–74 - Annualised population',
    'Females aged 75+ - Annualised deaths',
    'Females aged 75+ - Deaths per 100,000',
    'Females aged 75+ - Annualised population'
]

# Step 3: Select and rename columns
df2_selected = df2_multi[selected_columns].copy()
df2_selected = df2_selected.rename(columns={code_col: 'Code', name_col: 'Region'})

# Step 4: Melt to long format
df2_final = pd.melt(df2_selected, id_vars=["Code", "Region"],
                    var_name="Group_Metric", value_name="Value")

# Step 5: Extract Group, AgeGroup, and Metric from Group_Metric
df2_final[['Gender', 'AgeGroup', 'Metric']] = df2_final['Group_Metric'].str.extract(r'(\w+) aged ([\d+–]+|\d+\+)\s-\s(.+)')
df2_final.drop(columns="Group_Metric", inplace=True)

# Step 6: Pivot to wide format (optional, if you want metrics as columns)
df2_final_clean = df2_final.pivot_table(index=["Code", "Region", "Gender", "AgeGroup"],
                                        columns="Metric",
                                        values="Value",
                                        aggfunc="first").reset_index()

# Step 7: Convert numeric values safely
for col in df2_final_clean.columns[4:]:
    df2_final_clean[col] = pd.to_numeric(df2_final_clean[col], errors='coerce')
    df2_final_clean["Year"] = "2017-2018"
# Step 8: Export final CSV
df2_final_clean.to_csv("PHN_CVD_DEATH_AGE&SEX.csv", index=False, encoding='utf-8-sig')

#### CVD Hospitalisation

In [62]:
import pandas as pd
# Load the Excel file to inspect sheet names
excel_path = "CVD-hospitalisation.xlsx"
xls= pd.ExcelFile(excel_path)
sheet_names = xls.sheet_names
sheet_names

['Contents ',
 'Notes',
 'PHA_CVD_HOSP_SEX_3YR',
 'PHA_CVD_HOSP_AGE&SEX_3YR',
 'PHN_CVD_HOSP_SEX_3YR',
 'PHN_CVD_HOSP_AGE&SEX_3YR',
 'PHN_CVD_HOSP_SEX_1YR',
 'PHN_CVD_HOSP_AGE&SEX_1YR',
 'STATE_CVD_HOSP_SEX_3YR',
 'STATE_CVD_HOSP_AGE&SEX_3YR',
 'STATE_CVD_HOSP_SEX_1YR',
 'STATE_CVD_HOSP_AGE&SEX_1YR']

##### PHN_CVD_HOSP_AGE&SEX_1YR

In [63]:
# Load and preview the 'PHA_CVD_DEATH_SEX' sheet
df5 = xls.parse('PHN_CVD_HOSP_AGE&SEX_1YR', skiprows=9)
df5.head()

,Unnamed: 0,Unnamed: 1,Persons aged 0–54,Unnamed: 3,Unnamed: 4,Unnamed: 5,Persons aged 55–74,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Females aged 55–74,Unnamed: 31,Unnamed: 32,Unnamed: 33,Females aged 75+,Unnamed: 35,Unnamed: 36
0,Code,Name,Annual hospitalisations,"Hospitalisations per 100,000",Annual population,NaN,Annual hospitalisations,"Hospitalisations per 100,000",Annual population,NaN,...,"Hospitalisations per 100,000",Annual population,NaN,Annual hospitalisations,"Hospitalisations per 100,000",Annual population,NaN,Annual hospitalisations,"Hospitalisations per 100,000",Annual population
1,NaN,Australia,98563,545.12,18080976.5,NaN,248584,4920.62,5051884.5,NaN,...,457.8,8983625.5,NaN,89199,3459.07,2578702,NaN,114781,12283.31,934447
2,PHN101,Central and Eastern Sydney,5197.24,419.82,1237964,NaN,13678.04,4877.43,280435.5,NaN,...,319.91,611451,NaN,4707.88,3273.14,143834,NaN,6841.1,12075.02,56655
3,PHN102,Northern Sydney,2807.76,410.98,683183.5,NaN,7912.67,4368.25,181140.5,NaN,...,335.66,343745.5,NaN,2977.35,3168.1,93979,NaN,5456.2,13673.16,39904.5
4,PHN103,Western Sydney,3612.67,463.15,780021,NaN,8093.86,4920.13,164505,NaN,...,372.17,380074,NaN,2681.44,3196.19,83895,NaN,3050.73,11997.04,25429

In [64]:
# Load with multi-level header (first 2 rows after skipping 9)
df5_multi = xls.parse('PHN_CVD_HOSP_AGE&SEX_1YR', skiprows=9, header=[0, 1])

# Flatten multi-level headers: Combine both header rows into a single line with clear labels
df5_multi.columns = [
    f"{str(col1).strip()} - {str(col2).strip()}" if str(col2).strip() != 'nan' else str(col1).strip()
    for col1, col2 in df5_multi.columns
]

# Remove rows where the 'Code' column is NaN (region code column will contain 'Code' string)
df5_multi = df5_multi[df5_multi[df5_multi.columns[0]] != 'Code']
df5_multi = df5_multi[df5_multi[df5_multi.columns[0]].notna()]

# Reset index for clarity
df5_multi.reset_index(drop=True, inplace=True)

for col in df5_multi.columns:
    print(repr(col))

'Unnamed: 0_level_0 - Code'
'Unnamed: 1_level_0 - Name'
'Persons aged 0–54 - Annual hospitalisations'
'Persons aged 0–54 - Hospitalisations per 100,000'
'Persons aged 0–54 - Annual population'
'Persons aged 0–54 - Annual population.1'
'Persons aged 55–74 - Annual hospitalisations'
'Persons aged 55–74 - Hospitalisations per 100,000'
'Persons aged 55–74 - Annual population'
'Persons aged 55–74 - Annual population.1'
'Persons aged 75+ - Annual hospitalisations'
'Persons aged 75+ - Hospitalisations per 100,000'
'Persons aged 75+ - Annual population'
'Persons aged 75+ - Annual population.1'
'Males aged 0–54 - Annual hospitalisations'
'Males aged 0–54 - Hospitalisations per 100,000'
'Males aged 0–54 - Annual population'
'Males aged 0–54 - Annual population.1'
'Males aged 55–74 - Annual hospitalisations'
'Males aged 55–74 - Hospitalisations per 100,000'
'Males aged 55–74 - Annual population'
'Males aged 55–74 - Annual population.1'
'Males aged 75+ - Annual hospitalisations'
'Males aged 75+ - Hospitalisations per 100,000'
'Males aged 75+ - Annual population'
'Males aged 75+ - Annual population.1'
'Females aged 0–54 - Annual hospitalisations'
'Females aged 0–54 - Hospitalisations per 100,000'
'Females aged 0–54 - Annual population'
'Females aged 0–54 - Annual population.1'
'Females aged 55–74 - Annual hospitalisations'
'Females aged 55–74 - Hospitalisations per 100,000'
'Females aged 55–74 - Annual population'
'Females aged 55–74 - Annual population.1'
'Females aged 75+ - Annual hospitalisations'
'Females aged 75+ - Hospitalisations per 100,000'
'Females aged 75+ - Annual population'

In [65]:
import pandas as pd

# Step 1: Detect and rename the 'Code' and 'Name' columns properly
code_col = [col for col in df5_multi.columns if 'Code' in col][0]
name_col = [col for col in df5_multi.columns if 'Name' in col][0]

# Step 2: Define the relevant columns
selected_columns = [code_col, name_col] + [
    'Persons aged 0–54 - Annual hospitalisations',
    'Persons aged 0–54 - Hospitalisations per 100,000',
    'Persons aged 0–54 - Annual population',
    'Persons aged 0–54 - Annual population.1',
    'Persons aged 55–74 - Annual hospitalisations',
    'Persons aged 55–74 - Hospitalisations per 100,000',
    'Persons aged 55–74 - Annual population',
    'Persons aged 55–74 - Annual population.1',
    'Persons aged 75+ - Annual hospitalisations',
    'Persons aged 75+ - Hospitalisations per 100,000',
    'Persons aged 75+ - Annual population',
    'Persons aged 75+ - Annual population.1',
    'Males aged 0–54 - Annual hospitalisations',
    'Males aged 0–54 - Hospitalisations per 100,000',
    'Males aged 0–54 - Annual population',
    'Males aged 0–54 - Annual population.1',
    'Males aged 55–74 - Annual hospitalisations',
    'Males aged 55–74 - Hospitalisations per 100,000',
    'Males aged 55–74 - Annual population',
    'Males aged 55–74 - Annual population.1',
    'Males aged 75+ - Annual hospitalisations',
    'Males aged 75+ - Hospitalisations per 100,000',
    'Males aged 75+ - Annual population',
    'Males aged 75+ - Annual population.1',
    'Females aged 0–54 - Annual hospitalisations',
    'Females aged 0–54 - Hospitalisations per 100,000',
    'Females aged 0–54 - Annual population',
    'Females aged 0–54 - Annual population.1',
    'Females aged 55–74 - Annual hospitalisations',
    'Females aged 55–74 - Hospitalisations per 100,000',
    'Females aged 55–74 - Annual population',
    'Females aged 55–74 - Annual population.1',
    'Females aged 75+ - Annual hospitalisations',
    'Females aged 75+ - Hospitalisations per 100,000',
    'Females aged 75+ - Annual population'
]

# Step 3: Select and rename 'Code' -> 'Code', 'Name' -> 'Region'
df5_selected = df5_multi[selected_columns].copy()
df5_selected = df5_selected.rename(columns={code_col: 'Code', name_col: 'Region'})

# Step 4: Melt to long format
df5_melted = pd.melt(df5_selected, id_vars=["Code", "Region"], 
                     var_name="Group_Metric", value_name="Value")

# Step 5: Extract Gender, AgeGroup, and Metric using regex
df5_melted[['Gender', 'AgeGroup', 'Metric']] = df5_melted['Group_Metric'].str.extract(
    r'(\w+)\saged*\s*(\d+–\d+|\d+\+)?\s*-\s*(.+)'
)

# Step 6: Fill missing AgeGroup as 'All ages'
df5_melted['AgeGroup'] = df5_melted['AgeGroup'].fillna('All ages')

# Step 7: Drop the original combined Group_Metric column
df5_melted.drop(columns=["Group_Metric"], inplace=True)

# Step 8: Pivot wider (metrics become separate columns)
df5_final_clean = df5_melted.pivot_table(index=["Code", "Region", "Gender", "AgeGroup"],
                                         columns="Metric",
                                         values="Value",
                                         aggfunc="first").reset_index()

# Step 9: Rename metric columns according to requirements
df5_final_clean = df5_final_clean.rename(columns={
    'Annual hospitalisations': 'AnnualisedDeaths',
    'Hospitalisations per 100,000': 'CrudeRate',
    'Annual population': 'AnnualisedPop'
})

# Step 10: Convert numeric columns properly
numeric_cols = ["AnnualisedDeaths", "AnnualisedPop", "CrudeRate"]
for col in numeric_cols:
    if col in df5_final_clean.columns:
        df5_final_clean[col] = pd.to_numeric(df5_final_clean[col], errors='coerce')
        df5_final_clean["Year"] = "2017-2018"

# Step 11: Export the final cleaned CSV
df5_final_clean.to_csv("PHN_CVD_HOSP_AGE&SEX_1YR.csv", index=False, encoding='utf-8-sig')

print("Successfully cleaned and saved as 'PHN_CVD_HOSP_AGE&SEX_1YR.csv'")

Successfully cleaned and saved as 'PHN_CVD_HOSP_AGE&SEX_1YR.csv'

#### CVD Socioeconomic & Population

In [56]:
import pandas as pd
# Load the Excel file to inspect sheet names
excel_path = "socioeconomic&population.xlsx"
xls = pd.ExcelFile(excel_path)
sheet_names = xls.sheet_names
sheet_names

['Contents',
 'Notes',
 'PHA_SOCIOECO&POP_CHARACTERISTIC',
 'PHN_SOCIOECO&POP_CHARACTERISTIC',
 'ST_SOCIOECO&POP_CHARACTERISTIC']

##### PHA_SOCIOECO&POP_CHARACTERISTIC

In [57]:
# Load and preview the 'PHA_CVD_DEATH_SEX' sheet
df = xls.parse('PHA_SOCIOECO&POP_CHARACTERISTIC', skiprows=9)
df.head()

,,Unnamed: 1,Population by socioeconomic quintile group,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Internet access in private dwellings,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Proficiency in spoken English,Unnamed: 19,Aboriginal and Torres Strait Islander population,Unnamed: 21,Population aged 65 and over,Unnamed: 23,Elderly population aged 70+ living in in permanent residential aged care
0,NaN,NaN,NaN,NaN,Per cent,NaN,NaN,NaN,Per cent,NaN,...,NaN,NaN,NaN,Per cent,NaN,Per cent,NaN,Per cent,NaN,Per cent
1,Code,Name,Group 1,Group 2,Group 3,Group 4,Group 5,NaN,Without internet,NaN,...,Diploma/advanced diploma or certificate level ...,Secondary or lower level (incl. certificates I...,NaN,Low or no profiency in English,NaN,NaN,NaN,NaN,NaN,NaN
2,AUS,Australia,18.3487,19.4229,21.192,20.532,20.489,NaN,14.687727,NaN,...,27.787386,32.751993,NaN,16.77113,NaN,3.300269,NaN,15.711414,NaN,6.213786
3,PHA010000,Gosford - South East,0,0,0,59.367883,40.632117,NaN,10.572412,NaN,...,34.8,26.7,NaN,8.591885,NaN,2.67977,NaN,19.451951,NaN,0
4,PHA010001,Calga - Kulnura/ Narara/ Niagara Park - Lisarow,0,0,58.563907,41.436093,0,NaN,11.100761,NaN,...,35.7,32.2,NaN,12.437811,NaN,3.194856,NaN,14.529785,NaN,4.99755

In [58]:
# Load with multi-level header (first 2 rows after skipping 9)
df_multi = xls.parse('PHA_SOCIOECO&POP_CHARACTERISTIC', skiprows=9, header=[0, 1])

# Flatten multi-level headers: Combine both header rows into a single line with clear labels
df_multi.columns = [
    f"{str(col1).strip()} - {str(col2).strip()}" if str(col2).strip() != 'nan' else str(col1).strip()
    for col1, col2 in df_multi.columns
]

# Remove rows where the 'Code' column is NaN (region code column will contain 'Code' string)
df_multi = df_multi[df_multi[df_multi.columns[0]] != 'Code']
df_multi = df_multi[df_multi[df_multi.columns[0]].notna()]

# Reset index for clarity
df_multi.reset_index(drop=True, inplace=True)

# Display cleaned column names for reference
df_multi.columns[0:]  # Show a sample of the first 15 columns to understand structure

Index([' - Unnamed: 0_level_1', ' - Unnamed: 1_level_1',
       'Population by socioeconomic quintile group - Unnamed: 2_level_1',
       'Population by socioeconomic quintile group - Unnamed: 3_level_1',
       'Population by socioeconomic quintile group - Per cent',
       'Population by socioeconomic quintile group - Per cent.1',
       'Population by socioeconomic quintile group - Per cent.2',
       'Population by socioeconomic quintile group - Per cent.3',
       'Internet access in private dwellings - Per cent',
       'Internet access in private dwellings - Per cent.1',
       'Housing suitability - Per cent', 'Housing suitability - Per cent.1',
       'Unemployment (% of the 15–64 year olds in the labour force) - Per cent',
       'Unemployment (% of the 15–64 year olds in the labour force) - Per cent.1',
       'Educational attainment (25–74 year olds) - Per cent',
       'Educational attainment (25–74 year olds) - Per cent.1',
       'Educational attainment (25–74 year olds) - Per cent.2',
       'Educational attainment (25–74 year olds) - Per cent.3',
       'Proficiency in spoken English - Per cent',
       'Proficiency in spoken English - Per cent.1',
       'Aboriginal and Torres Strait Islander population - Per cent',
       'Aboriginal and Torres Strait Islander population - Per cent.1',
       'Population aged 65 and over - Per cent',
       'Population aged 65 and over - Per cent.1',
       'Elderly population aged 70+ living in in permanent residential aged care - Per cent'],
      dtype='object')

In [59]:
# Step 2: Rename columns to simplified, dashboard-friendly names
df_multi.rename(columns={
    ' - Unnamed: 0_level_1': "Code",
    ' - Unnamed: 1_level_1': "Region",
    'Population by socioeconomic quintile group - Per cent': "Low_SES_Percent",
    'Internet access in private dwellings - Per cent': "Internet_NoAccess",
    'Housing suitability - Per cent': "Housing_Unsuitable",
    'Unemployment (% of the 15–64 year olds in the labour force) - Per cent': "Unemployment_Rate",
    'Educational attainment (25–74 year olds) - Per cent': "Education_Level_Low",
    'Proficiency in spoken English - Per cent': "English_Proficiency_Low",
    'Aboriginal and Torres Strait Islander population - Per cent': "Aboriginal_Percent",
    'Population aged 65 and over - Per cent': "Senior_65Plus_Percent",
    'Elderly population aged 70+ living in in permanent residential aged care - Per cent': "Elderly_70_PermInstitution"
}, inplace=True)

# Step 3: Keep only rows where 'Code' starts with 'PHA'
df_cleaned = df_multi[df_multi['Code'].astype(str).str.startswith("PHA")].copy()

# Step 4: Select only necessary columns
keep_columns = [
    "Code", "Region", "Low_SES_Percent", "Internet_NoAccess", "Housing_Unsuitable",
    "Unemployment_Rate", "Education_Level_Low", "English_Proficiency_Low",
    "Aboriginal_Percent", "Senior_65Plus_Percent", "Elderly_70_PermInstitution"
]
df_final = df_cleaned[keep_columns].copy()

# Step 5: Convert numeric columns
for col in df_final.columns[2:]:  # skip Code, Region
    df_final[col] = pd.to_numeric(df_final[col], errors="coerce")
# Add Year column
    df_final["Year"] = "2016"
# Step 6: Export cleaned data
df_final.to_csv("PHA_SOCIOECO&POP_CHARACTERISTIC.csv", index=False, encoding="utf-8-sig")
print("Cleaned file saved as 'PHA_SOCIOECO&POP_CHARACTERISTIC.csv'")

Cleaned file saved as 'PHA_SOCIOECO&POP_CHARACTERISTIC.csv'

In [60]:
import pandas as pd

# Step 1: Load the dataset
socioeco_df = pd.read_csv("PHA_SOCIOECO&POP_CHARACTERISTIC.csv")

# Step 2: Drop rows where 'Region' or 'Code' is missing
socioeco_df = socioeco_df.dropna(subset=['Region', 'Code'])

# Step 3: Fill missing values in numerical columns with their column means
socioeco_df = socioeco_df.fillna(socioeco_df.mean(numeric_only=True))

# Step 4: Standardize 'Region' names for merging (remove spaces, make uppercase)
socioeco_df['Region'] = socioeco_df['Region'].str.strip().str.upper()

# Step 5: Optional check to confirm cleaning was successful
print("Cleaning Complete")
print("Remaining missing values:\n", socioeco_df.isnull().sum())
print("Shape after cleaning:", socioeco_df.shape)
print("Sample cleaned data:")
print(socioeco_df.head())
socioeco_df.to_csv("PHA_SOCIOECO&POP.csv", index=False, encoding="utf-8-sig")
print("Cleaned file saved as 'PHA_SOCIOECO&POP.csv'")

Cleaning Complete
Remaining missing values:
 Code                          0
Region                        0
Low_SES_Percent               0
Internet_NoAccess             0
Housing_Unsuitable            0
Unemployment_Rate             0
Education_Level_Low           0
English_Proficiency_Low       0
Aboriginal_Percent            0
Senior_65Plus_Percent         0
Elderly_70_PermInstitution    0
Year                          0
dtype: int64
Shape after cleaning: (1164, 12)
Sample cleaned data:
        Code                                           Region  \
0  PHA010000                             GOSFORD - SOUTH EAST
1  PHA010001  CALGA - KULNURA/ NARARA/ NIAGARA PARK - LISAROW
2  PHA010002                         ERINA - GREEN POINT AREA
3  PHA010003                   GOSFORD - SPRINGFIELD/ WYOMING
4  PHA010004                 KARIONG/ POINT CLARE - KOOLEWONG

   Low_SES_Percent  Internet_NoAccess  Housing_Unsuitable  Unemployment_Rate  \
0         0.000000          10.572412            1.982959               5.03
1        58.563907          11.100761            3.470032               5.41
2        75.284202          16.663458            2.108037               5.41
3         0.000000          17.063936            3.860093               7.67
4         0.000000          11.160402            2.657658               6.33

   Education_Level_Low  English_Proficiency_Low  Aboriginal_Percent  \
0                 26.9                 8.591885            2.679770
1                 20.0                12.437811            3.194856
2                 21.6                12.823674            2.756720
3                 21.7                14.855811            3.665543
4                 21.2                13.314711            3.344894

   Senior_65Plus_Percent  Elderly_70_PermInstitution  Year
0              19.451951                    0.000000  2016
1              14.529785                    4.997550  2016
2              26.236507                    8.818043  2016
3              19.298019                    9.109357  2016
4              14.835506                    9.078114  2016
Cleaned file saved as 'PHA_SOCIOECO&POP.csv'

####  CVD Risk-factors-prevalence (not in use for merging at the momentr)

In [36]:
import pandas as pd
# Load the Excel file to inspect sheet names
excel_path = "risk-factors-prevalence.xlsx"
xls = pd.ExcelFile(excel_path)
sheet_names = xls.sheet_names
sheet_names

['Contents',
 'Notes',
 'PHAs excluded for estimates',
 '1.1 PHA_HBP_2017-18',
 '1.2 PHA_HBP_AGE_2017-18',
 '1.3 PHN_HBP_SEX_2017-18',
 '1.4 PHN_HBP_AGE&SEX',
 '1.5 STATE_HBP_SEX',
 '1.6 STATE_HBP_AGE&SEX',
 '2.1 PHA_IPA_SEX_2017-18',
 '2.2 PHA_IPA_AGE_2017-18',
 '2.3 PHN_IPA_SEX_2017-18',
 '2.4 PHN_IPA_AGE&SEX',
 '2.5 STATE_IPA_SEX',
 '2.6 STATE_IPA_AGE&SEX',
 '3.1 PHA_OB_2017-18',
 '3.2 PHA _OB_AGE_2017-18',
 '3.3 PHN_OB_SEX_2017-18',
 '3.4 PHN_OB_AGE&SEX',
 '3.5 STATE_OB_SEX',
 '3.6 STATE_OB_AGE&SEX',
 '4.1 PHA_CS_2017-18',
 '4.2 PHA_CS_AGE_2017-18',
 '4.3 PHN_CS_SEX_2017-18',
 '4.4 PHN_CS_AGE&SEX',
 '4.5 STATE_CS_SEX',
 '4.6 STATE_CS_AGE&SEX']

##### 1.1 PHA_HBP_2017-18

In [37]:
# Load and preview the 'PHA_CVD_DEATH_SEX' sheet
df = xls.parse('1.1 PHA_HBP_2017-18', skiprows=9)
df.head()

C:\Users\YOGA\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:85: UserWarning: Conditional Formatting extension is not supported and will be removed
  for idx, row in parser.parse():

,Unnamed: 0,Unnamed: 1,Persons aged 18+,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Code,Name,Number,Proportion (%),95% CI of proportion,Population,Age-standardised rate (per 100),95% CI standardised rate,Rate ratio (relative to all of Australia),95% CI rate ratio
1,NaN,Australia,4255962.575278,22.813936,(22.0–23.6),18655100,21.78305,(21.0–22.6),1,–
2,PHA010000,Gosford - South East,3585.818,24.823,(22.1–27.5),14445.65,21.03,(18.3–23.8),0.96599,(0.8–1.1)
3,PHA010001,Calga - Kulnura/ Narara/ Niagara Park - Lisarow,3519.379,23.172,(21.1–25.2),15187.74,21.5,(19.4–23.6),0.98754,(0.9–1.1)
4,PHA010002,Erina - Green Point area,5725.508,25.68,(23.3–28.0),22295.81,21.151,(18.8–23.5),0.97154,(0.9–1.1)

In [38]:
# Load with multi-level header (first 2 rows after skipping 9)
df_multi = xls.parse('1.1 PHA_HBP_2017-18', skiprows=9, header=[0, 1])

# Flatten multi-level headers: Combine both header rows into a single line with clear labels
df_multi.columns = [
    f"{str(col1).strip()} - {str(col2).strip()}" if str(col2).strip() != 'nan' else str(col1).strip()
    for col1, col2 in df_multi.columns
]

# Remove rows where the 'Code' column is NaN (region code column will contain 'Code' string)
df_multi = df_multi[df_multi[df_multi.columns[0]] != 'Code']
df_multi = df_multi[df_multi[df_multi.columns[0]].notna()]

# Reset index for clarity
df_multi.reset_index(drop=True, inplace=True)

for col in df_multi.columns:
    print(repr(col))

'Unnamed: 0_level_0 - Code'
'Unnamed: 1_level_0 - Name'
'Persons aged 18+ - Number'
'Persons aged 18+ - Proportion (%)'
'Persons aged 18+ - 95% CI of proportion'
'Persons aged 18+ - Population'
'Persons aged 18+ - Age-standardised rate (per 100)'
'Persons aged 18+ - 95% CI standardised rate'
'Persons aged 18+ - Rate ratio  (relative to all of Australia)'
'Persons aged 18+ - 95% CI rate ratio'

C:\Users\YOGA\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:85: UserWarning: Conditional Formatting extension is not supported and will be removed
  for idx, row in parser.parse():

In [48]:
# Step 1: Rename key columns for simplicity
df_multi.rename(columns={
    df_multi.columns[0]: "Code",
    df_multi.columns[1]: "Region"
}, inplace=True)

# Step 2: Clean column names
df_multi.columns = df_multi.columns.str.strip()

# Step 3: Define selected columns (18+ only, Persons group)
selected_columns = [
    "Code", "Region",
    'Persons aged 18+ - Number',
    'Persons aged 18+ - Proportion (%)',
    'Persons aged 18+ - 95% CI of proportion',
    'Persons aged 18+ - Population',
    'Persons aged 18+ - Age-standardised rate (per 100)',
    'Persons aged 18+ - 95% CI standardised rate',
    'Persons aged 18+ - Rate ratio (relative to all of Australia)',
    'Persons aged 18+ - 95% CI rate ratio'
]

# Step 4: Select available columns safely
existing_columns = [col for col in selected_columns if col in df_multi.columns]
df_selected = df_multi[existing_columns].copy()

# Step 5: Melt into long format
df_long = pd.melt(
    df_selected,
    id_vars=["Code", "Region"],
    var_name="Group_Metric",
    value_name="Value"
)

# Step 6: Assign Gender and AgeGroup, clean Metric labels
df_long["Gender"] = "Persons"
df_long["AgeGroup"] = "18+"
df_long["Metric"] = df_long["Group_Metric"].str.replace("Persons aged 18+ - ", "", regex=False)
df_long.drop(columns="Group_Metric", inplace=True)

# Step 7: Standardize metric names
df_long["Metric"] = df_long["Metric"].replace({
    "95% CI of proportion": "CI_Proportion",
    "95% CI standardised rate": "CI_Standardised_Rate",
    "95% CI rate ratio": "CI_Rate_Ratio",
    "Proportion (%)": "Proportion",
    "Rate ratio (relative to all of Australia)": "Rate_Ratio",
    "Age-standardised rate (per 100)": "Age_Standardised_Rate"
})

# Step 8: Pivot to wide format
df_wide = df_long.pivot_table(
    index=["Code", "Region", "Gender", "AgeGroup"],
    columns="Metric",
    values="Value",
    aggfunc="first"
).reset_index()

# Step 9: Split confidence intervals into lower/upper columns
def split_ci(ci_value):
    if isinstance(ci_value, str) and '–' in ci_value:
        parts = ci_value.strip("()").split("–")
        try:
            return float(parts[0]), float(parts[1])
        except:
            return None, None
    return None, None

for ci_col in ['CI_Proportion', 'CI_Standardised_Rate', 'CI_Rate_Ratio']:
    df_wide[f"{ci_col}_Lower"], df_wide[f"{ci_col}_Upper"] = zip(*df_wide[ci_col].apply(split_ci))
    df_wide.drop(columns=ci_col, inplace=True)

# Step 10: Convert proportion to percent format (round to 2 decimals)
df_wide["Proportion (%)"] = pd.to_numeric(df_wide["Proportion"], errors="coerce").round(2)
df_wide.drop(columns="Proportion", inplace=True)

# Step 11: Convert remaining metrics to numeric
numeric_cols = [col for col in df_wide.columns if col not in ["Code", "Region", "Gender", "AgeGroup"]]
for col in numeric_cols:
    df_wide[col] = pd.to_numeric(df_wide[col], errors="coerce")

# Cleaning Steps
# Step 12: Drop rows with missing standardised rate info and copy
hbp_df_clean = df_wide.dropna(subset=['Age_Standardised_Rate']).copy()

# Step 13: Standardize Region names (safe assignment)
hbp_df_clean.loc[:, 'Region'] = hbp_df_clean['Region'].str.strip().str.upper()

# Step 14: Reset index
hbp_df_clean.reset_index(drop=True, inplace=True)

# Step 14.1: Add Risk_Factor column
hbp_df_clean["Risk_Factor"] = "High blood pressure"

# Step 15: Confirm cleaning
print("Missing values after cleaning:\n", hbp_df_clean.isnull().sum())
print(" Final shape:", hbp_df_clean.shape)

# Step 16: Export cleaned dataset
hbp_df_clean.to_csv("RiskFactor_PHA_HBP_2017-18.csv", index=False, encoding="utf-8-sig")
print("Saved cleaned file as 'RiskFactor_PHA_HBP_2017-18.csv' successfully!")

Missing values after cleaning:
 Metric
Code                          0
Region                        0
Gender                        0
AgeGroup                      0
Age_Standardised_Rate         0
Number                        0
Population                    0
CI_Proportion_Lower           0
CI_Proportion_Upper           0
CI_Standardised_Rate_Lower    0
CI_Standardised_Rate_Upper    0
CI_Rate_Ratio_Lower           0
CI_Rate_Ratio_Upper           0
Proportion (%)                0
Risk_Factor                   0
dtype: int64
 Final shape: (1131, 15)
Saved cleaned file as 'RiskFactor_PHA_HBP_2017-18.csv' successfully!

#### CVD Merging

In [54]:
import pandas as pd

# Load all four datasets
risk_factors = pd.read_csv("Risk_Factors_CVD.csv")
socioeconomic = pd.read_csv("PHA_SOCIOECO&POP.csv")
cvd_death = pd.read_csv("PHN_CVD_DEATH_AGE&SEX.csv")
cvd_hosp = pd.read_csv("PHN_CVD_HOSP_AGE&SEX_1YR.csv")

# Step 1: Merge Risk Factors with CVD Deaths
merged1 = pd.merge(
    risk_factors,
    cvd_death,
    on=["Code", "Region", "Gender", "AgeGroup"],
    how="inner"
)

# Step 2: Merge with CVD Hospitalisation data
merged2 = pd.merge(
    merged1,
    cvd_hosp,
    on=["Code", "Region", "Gender", "AgeGroup"],
    how="inner"
)

# Step 3: Merge with Socioeconomic data (only on Code and Region)
final_merged = pd.merge(
    merged2,
    socioeconomic,
    on=["Code", "Region"],
    how="left"
)

# Save the final merged dataset
final_merged.to_csv("Final_Integrated_Dataset.csv", index=False)
print(" Final dataset saved as 'Final_Integrated_Dataset.csv'")

 Final dataset saved as 'Final_Integrated_Dataset.csv'

In [50]:
print (socioeco.isnull().sum())
print(cvd_death.isnull().sum())
print(cvd_hosp.isnull().sum())
print(hbp.isnull().sum())

Code                          0
Region                        0
Low_SES_Percent               0
Internet_NoAccess             0
Housing_Unsuitable            0
Unemployment_Rate             0
Education_Level_Low           0
English_Proficiency_Low       0
Aboriginal_Percent            0
Senior_65Plus_Percent         0
Elderly_70_PermInstitution    0
dtype: int64
Code                     0
Region                   0
Gender                   0
AgeGroup                 0
Annualised deaths        0
Annualised population    0
Deaths per 100,000       0
dtype: int64
Code                0
Region              0
Gender              0
AgeGroup            0
AnnualisedDeaths    0
AnnualisedPop       0
CrudeRate           0
dtype: int64
AgeGroup               0
CI_Proportion_Lower    0
CI_Proportion_Upper    0
Code                   0
Gender                 0
Number                 0
Population             0
Proportion (%)         0
Region                 0
Risk_Factor            0
dtype: int64

In [45]:
# Fill missing values with the median (for numeric columns)
socioeco.fillna(socioeco.median(numeric_only=True), inplace=True)
cvd_death.fillna(cvd_death.median(numeric_only=True), inplace=True)
cvd_hosp.fillna(cvd_hosp.median(numeric_only=True), inplace=True)
hbp.fillna(hbp.median(numeric_only=True), inplace=True)

In [17]:
import pandas as pd

# Load dataset
df = pd.read_csv("CVD_dataset.csv", low_memory=False)

# Check and remove duplicate rows
print(f"Number of duplicated rows: {df.duplicated().sum()}")
df = df.drop_duplicates()

# Null value summary
print("\nNull values per column:")
print(df.isnull().sum())

# Save cleaned dataset
df.to_csv("CVD_dataset_cleaned.csv", index=False)
print("\nCleaned dataset saved as CVD_dataset_cleaned.csv")

Number of duplicated rows: 0

Null values per column:
Code                             0
Region                           1
Percent_Q1                    1417
Internet_NoAccess             1416
Housing_Unsuitable            1416
Unemployment_Rate             1416
Education_Level_Low           1413
English_Proficiency_Low       1417
Aboriginal_Percent            1419
Senior_65Plus_Percent         1415
Elderly_70_PermInstitution    1415
Gender                        1165
AgeGroup                      1165
Annualised deaths             2299
Annualised population         2299
Deaths per 100,000            2299
AnnualisedDeaths              2299
AnnualisedPop                 2299
CrudeRate                     2299
Age_Standardised_Rate         1447
Number                        1444
Population                    1444
CI_Proportion_Lower           1444
CI_Proportion_Upper           1444
CI_Standardised_Rate_Lower    1447
CI_Standardised_Rate_Upper    1447
CI_Rate_Ratio_Lower           1447
CI_Rate_Ratio_Upper           1447
Proportion (%)                1444
dtype: int64

Cleaned dataset saved as CVD_dataset_cleaned.csv

In [ ]:
import pandas as pd

# Load your merged dataset
df = pd.read_csv("CVD_dataset.csv", low_memory=False)

# --- 1. Socioeconomic + Risk Factors Subset ---
socio_cols = [
    'Unemployment_Rate', 'Education_Level_Low', 'English_Proficiency_Low',
    'Aboriginal_Percent', 'Senior_65Plus_Percent', 'Elderly_70_PermInstitution'
]
df_socio = df[df[socio_cols].notnull().any(axis=1)]

# --- 2. CVD Deaths Subset ---
df_death = df[df['CrudeRate'].notnull()]

# --- 3. CVD Hospitalisations Subset ---
df_hosp = df[df['Number'].notnull()]

# Optional: Save each subset
df_socio.to_csv("subset_socioeconomic.csv", index=False)
df_death.to_csv("subset_cvd_deaths.csv", index=False)
df_hosp.to_csv("subset_hospitalisations.csv", index=False)

print("Subsets created and saved successfully!")